
*, ::before ,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* section-1 start here */



.mainnav{
    list-style-type: none;
    background-color:black;
    width:100%;
    height: 100%;
    text-align: center;
}
.mainnav li{
    color: white;
    padding: 20px 0px 20px 0px;
    display: inline-block;
    
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;

}
.Menu{
    display:none;
}

.section-1{
    position: relative;
}
.section-1 #Menu{
    position: absolute;
    top:0px;
}

.trust-name-1{
    padding-top:30px;
    width:100%;
}


    /* second menu start here */

    .secondmenu{
        width:100%;
        height:100%;
        background-color: black;
        color: white;
        padding:10% 10% 10% 10%;

    }
    .close-button{
        color: white;
    }

    .secondmenu li{
        padding:5px;
        padding-left:0px;
        width:100px;
        border-width: 1px;
        
    }
    /* second menu end here */

    .super-line{
        background: #4a4a4a;
        height:1px;
        margin:0% 3%;
    }


/* section-1 end here */